#app {
  height: 100vh;
}

* {
  font-family: "得意黑";
  -webkit-user-drag: none;
}

body {
  overflow: hidden;
}

.component-out {
  opacity: 0;
  transform: translateY(50px);
}

.component-in {
  opacity: 1;
  transform: translateY(0px);
}

.dsaddasdq3wdwsadas {
  color: #673bcc;
  color: #7e56da;
  color: #d3d3d3;
  background-color: #6b728070;
}