.fade-up-enter-active,
.fade-up-leave-active {
  transition: all 1s ease;
}

.fade-up-enter-active {
  transition-delay: 0.3s;
}

.fade-up-enter-from {
  opacity: 0;
  transform: translateY(100px);
}

.fade-up-leave-to {
  opacity: 0;
  transform: translateY(-100px);
}
